/* @@@@@@@@@@@@@@@ CONFIGURACOES GERAIS @@@@@@@@@@@@@@@@@ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
  min-height: 100%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.808);
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Roboto', sans-serif;
  }
  
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* @@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@ */

h1{
    text-align: center;
    margin-top: 25vh;
    font-family: 'Roboto', sans-serif;
    color: #037cf5;
}

#i{
    color: #FFC000;
}

p{
  text-align: center;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}

#lugar{
    display: flex;
    justify-content: center;
    margin-top: 4rem;

}

#but{
    margin-left: 1rem;
    border: none;
    background-color: white;
    box-shadow: 3px 2px 2px 1px #037cf5;
}

#but:active{
    box-shadow: inset 3px 2px 2px 1px #3399FF;
}

/* @@@@@@@@@@@@@@@ ESCONDER VARIAVEL @@@@@@@@@@@@@@@@@ */

#resultado{
    display: none;
}

